<% layout('layout') -%>

<div class="card-panel">
	<div class="row">
		<div class="col s3">
			<h4>カテゴリー</h4>
		</div>
		<div class="col s3">
			<h4>Buddies</h4>
		</div>
		<div class="col s3">
			<h4>生活</h4>
		</div>
		<div class="col s3">
			<h4>イベント</h4>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col s3">
			<ul id="categories-filter">
				<h5>Buddies</h5>
				<% categories.buddies.map(function(category) { %>
					<li>
						<a href="#"><%= category %></a>
					</li>
				<% }) %>
				<h5>生活</h5>
				<% categories.life.map(function(category) { %>
					<li>
						<a href="#"><%= category %></a>
					</li>
				<% }) %>
				<h5>イベント</h5>
				<% categories.events.map(function(category) { %>
					<li>
						<a href="#"><%= category %></a>
					</li>
				<% }) %>
			</ul>
		</div>
		<div class="col s3">
		<% services.buddies.map(function(service) { %>
			<div class="card hoverable">
				<a href="/services/<%= service._id %>">
					<div class="card-image">
						<img src="<%= service.image %>" class="fixed-img" alt="preview">
					</div>
					<div class="card-content">
						<p class="black-text"><%= service.headline %> - <%= service.location %></p>
						<span class="card-title truncate"><%= service.title %></span>
						<p class="black-text">¥<%= service.price %> per person</p>
						<p class="color-accent">
			      	<% if(service.totalRating / service.totalReviews >= 1) { %>
			      	<% for(var i = 1; i <= service.totalRating / service.totalReviews; i++) { %>
			      	<i class="fas fa-star color-accent"></i>
			      	<% } %>
			      	<% if(service.totalRating / service.totalReviews >= 4 && service.totalRating / service.totalReviews != 5) { %>
			      	<i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 3 && service.totalRating / service.totalReviews != 4) { %>
			      	<i class="far fa-star"></i>
              <i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 2 && service.totalRating / service.totalReviews != 3) { %>
			      	<i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 1 && service.totalRating / service.totalReviews != 2) { %>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <% } %>
		      	<% } else { %>
							<br>
		      	<% } %>
		      	</p>
					</div>
				</a>
			</div>
		<% }) %>
		</div>

		<div class="col s3">
		<% services.life.map(function(service) { %>
			<div class="card hoverable">
				<a href="/services/<%= service._id %>">
					<div class="card-image">
						<img src="<%= service.image %>" class="fixed-img" alt="preview">
					</div>
					<div class="card-content">
						<p class="black-text"><%= service.headline %> - <%= service.location %></p>
						<span class="card-title truncate"><%= service.title %></span>
						<p class="black-text">¥<%= service.price %> per person</p>
						<p class="color-accent">
			      	<% if(service.totalRating / service.totalReviews >= 1) { %>
			      	<% for(var i = 1; i <= service.totalRating / service.totalReviews; i++) { %>
			      	<i class="fas fa-star color-accent"></i>
			      	<% } %>
			      	<% if(service.totalRating / service.totalReviews >= 4 && service.totalRating / service.totalReviews != 5) { %>
			      	<i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 3 && service.totalRating / service.totalReviews != 4) { %>
			      	<i class="far fa-star"></i>
              <i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 2 && service.totalRating / service.totalReviews != 3) { %>
			      	<i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 1 && service.totalRating / service.totalReviews != 2) { %>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <% } %>
		      	<% } else { %>
							<br>
		      	<% } %>
		      	</p>
					</div>
				</a>
			</div>
		<% }) %>
		</div>

		<div class="col s3">
		<% services.events.map(function(service) { %>
			<div class="card hoverable">
				<a href="/services/<%= service._id %>">
					<div class="card-image">
						<img src="<%= service.image %>" class="fixed-img" alt="preview">
					</div>
					<div class="card-content">
						<p class="black-text"><%= service.headline %> - <%= service.location %></p>
						<span class="card-title truncate"><%= service.title %></span>
						<p class="black-text">¥<%= service.price %> per person</p>
						<p class="color-accent">
			      	<% if(service.totalRating / service.totalReviews >= 1) { %>
			      	<% for(var i = 1; i <= service.totalRating / service.totalReviews; i++) { %>
			      	<i class="fas fa-star color-accent"></i>
			      	<% } %>
			      	<% if(service.totalRating / service.totalReviews >= 4 && service.totalRating / service.totalReviews != 5) { %>
			      	<i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 3 && service.totalRating / service.totalReviews != 4) { %>
			      	<i class="far fa-star"></i>
              <i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 2 && service.totalRating / service.totalReviews != 3) { %>
			      	<i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
			      	<% } else if(service.totalRating / service.totalReviews >= 1 && service.totalRating / service.totalReviews != 2) { %>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <% } %>
		      	<% } else { %>
							<br>
		      	<% } %>
		      	</p>
					</div>
				</a>
			</div>
		<% }) %>
		</div>
	</div>
</div>