<!-- Need to change service.* to user.* or something like that -->
<!-- Put this pay layout on paper first, decide what to show and how -->
<% layout('layout') -%>
<div class="row white">
  <div class="col s12 m6 l7">
    <div class="row">
      <div class="col s12">
        <h3>Hi, I'm <%= user.name %>!</h3>
        <p class="subheader"><%= user.location || "N/A" %> -- Joined: <%= user.joined || "N/A" %></p>
      </div>
    </div>
    <div class="divider"></div>
    <p class="icon-adjacent-text">
      <i class="material-icons left">verified_user</i>
      Verified: <%= user.verified || "Not verified" %>
    </p>
    <p class="icon-adjacent-text">
      <i class="material-icons left">forum</i>
      Languages: <%= user.languages || "N/A" %>
    </p>
    <p class="icon-adjacent-text">
      <i class="material-icons left">school</i>
      School: <%= user.school || "N/A" %>
    </p>
    <p class="icon-adjacent-text">
      <i class="material-icons left">work</i>
      Work: <%= user.work || "N/A" %>
    </p>
    <div class="divider"></div>
    <p><%= user.about_profile %></p>
    <div class="divider"></div>
    <!-- If there are any postings, show them. -->
    <% if(user.postings) { %>
    <h5>Current Postings</h5>
    <% } %>
    <!-- reviews -->
    <% if(user.reviews) { %>
    <h5>Reviews</h5>
    <ul class="collection">
      <% user.reviews.map(function(review) { %>
      <li class="collection-item avatar">
        <img src="<%= review.author.image %>" alt="user image" class="circle">
        <span class="title"><%= review.author.user %></span>
        <p><span class="date"><%= review.date %></span></p>
        <p><%= review.text %></p>
        <% if(currentUser && review.author.id.equals(currentUser._id)) { %>
          <br/>
          <div class="row">
            <div class="col s2">
              <a href="/services/<%= service._id %>/reviews/<%= review._id %>/edit" class="btn orange">Edit</a>
            </div>
            <div class="col s2">
              <form action="/services/<%= service._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn red darken-2">Delete</button>
              </form>
            </div>
          </div>
        <% } else { %>
          <a class="secondary-content"><i class="material-icons">flag</i></a>
        <% } %>
      </li>
      <% }) %>
    </ul>
    <% } %>
    <!-- end reviews -->
  </div>
  <!-- info card -->
  <div class="col m6 l5">
    <div id="show-card" class="card">
      <div class="card-image">
        <img src="<%= user.image %>"/>
      </div>
      <div class="card-content">
        <table class="centered">
          <tbody>
            <tr>
              <td rowspan="2"><button class="btn btn-large center orange darken-4">See services</button></td>
            </tr>
            <tr>
              <td>
                <p>
                <% if(rating > 1) { %>
                  <% for(var i = 0; i <= rating; i++) { %>
                  <i class="fas fa-star color-accent"></i>
                  <% } %>
                  <% if(rating === 4) { %>
                  <i class="fas fa-star"></i>
                  <% } %>
                  <% if(rating === 3) { %>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <% } %>
                  <% if(rating === 2) { %>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <% } %>
                  <% if(rating === 1) { %>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <% } %>
                <% } else { %>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                <% } %>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <a href="#"><i class="fab fa-facebook-square fa-3x"></i></a>
                  <a href="#"><i class="fab fa-twitter-square fa-3x"></i></a>
                  <a href="#"><i class="fab fa-google-plus-square fa-3x"></i></a>
                </p>
              </td>
              <td>
                <a href="#" id="notSaved"><i class="far fa-heart fa-3x"></i></a>
                <a href="#" class="hidden" id="isSaved"><i class="fas fa-heart fa-3x"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <% if(currentUser && user._id.equals(currentUser._id)) { %>
    <div class="row center">
      <div class="col s3 offset-s3">
        <a href="/users/<%= user._id %>/edit" class="btn orange">Edit</a>
      </div>
      <div class="col s3">
        <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn red darken-2">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>