<div class="row">
  <form class="col s12" action="/services/{{this._id}}?_method=PUT" method="POST">
    <div class="card-panel">
      <h4 class="center">Edit this listing</h4>
      <div class="row">
        <div class="input-field col s6">
          <input id="title" type="text" value="{{this.title}}" class="validate">
          <label for="service[title]">Service Title:</label>
        </div>
        <div class="input-field col s6">
          <input id="service_image" value="{{this.image}}" type="text" class="validate">
          <label for="service[image]">Promotional Image:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="description" value="{{this.description}}" type="text" class="validate">
          <label for="service[description]">Description:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="price" value="{{this.price}}" type="number" class="validate" min="1" step="1">
          <label for="service[price]">Price:</label>
        </div>
      </div>
      <button class="btn orange darken-4" type="submit">Submit</button>
    </div>
  </form>
</div>